<!DOCTYPE HTML>
<html>
<head>
    <title>Fluidmap API</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="{{ asset('assets/js/ie/html5shiv.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/ie9.css') }}" />
</head>
<body>

<!-- Header -->
<header id="header">
    <h1><img src="{{ asset('images/logo.png') }}" alt="Fluimap" width="220px"></h1>
    <p>Récoltez des données démographiques pour vos services <br />
        consultez la <a href="http://api.fluidmap.fr/api/doc">documentation</a> de l'API pour commencer.</p>
</header>

<!-- Footer -->
<footer id="footer">
    <ul class="copyright">
        <li>&copy; Fluidmap.</li>
        <li>2018</li>
    </ul>
</footer>

<!-- Scripts -->
<script src="{{ asset('assets/js/ie/respond.min.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>

</body>
</html>